{% extends 'base.html' %}
{% block body %}

    <div class="card" style="width: 20rem;">
        <a href="{{ MEDIA_URL }}{{ the_user.userprofileinfo.profile_pic }}"><img class="card-img-top" src="{{ MEDIA_URL }}{{ the_user.userprofileinfo.profile_pic }}" alt="Card image cap"></a>
        <div class="card-body">
            <h4 class="card-title">{{ the_user.username }}</h4>
            {% with the_user.userprofileinfo as info %}
                {% if info.portfolio %}
                    <p class='card-text'><a href="{{ info.portfolio }}">{{ info.portfolio }}</a></p>
                {% endif %}
                {% if info.birthdate %}
                    <p class='card-text'>{{ info.birthdate }}</p>
                {% endif %}
            {% endwith %}
        </div>
    </div>

{% endblock %}