{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
    <div class="container-fluid align-self-center w-75">
        <img class="img-fluid" src="{% static "hello_world/icon.png" %}" alt="Card image cap">
        <div class="align-content-center">
            <p class="text-center">{{ message }}</p>
        </div>
    </div>
    <div class="container align-self-center w-50">
    <form class="form-inline align-self-center" method="GET">
        <input class="form-control-sm" name="q" placeholder="Type something" autofocus />
        <button class="btn-sm btn-primary" tyoe="submit">Place</button>
    </form>
    </div>
{% endblock %}