<!doctype html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django Forms App</title>
    <link rel="stylesheet" href="{% static "bootstrap.min.css" %}" />
    <link rel="icon" href="{% static "icon.png" %}" />
</head>
<body>

<div class="jumbotron">
    <h1 class="display-3">{{ title | default:"index.html" }}</h1>
</div>

<div class="container">
    <form method="POST">
        {%  csrf_token %}
        <input type="submit" class="btn btn-primary" value="Send away" />
    </form>
</div>

<script src="{% static "jquery-3.3.1.min.js" %}"></script>
<script src="{% static "popper.min.js" %}"></script>
<script src="{% static "bootstrap.min.js" %}"></script>
</body>
</html>